---
layout: default
---

<div class="now">
  <div class="wrapper">
    <article>
      <h2>As of {{ site.posts.first.date | date: '%B %d, %Y' }}…</h2>

      {{ site.posts.first.content }}
    </article>
  </div>
</div>

<div class="then">
  <div class="wrapper">
    <h2>Before that…</h2>

    <ul class="old-bios">
      {% for post in site.posts %}
        {% if forloop.first %}
        {% else %}
          <li><a href="{{ post.url }}">On {{ post.date | date: '%B %d, %Y' }}, I was…</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>