<footer class="site-footer">
  <div class="wrapper">
    <ul class="pages">
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/about.html">About</a></li>
    </ul>
    {% include social-media-list.html %}
  </div>
</footer>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5511acfe92c6ac1cf1001ffc');
    t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
    t.src = 'https://track.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>