/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
  display: inline-block;
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-right: 1em;
  margin-bottom: 0;
  vertical-align: bottom;

  &,
  &:visited {
      color: $grey-color-dark;
  }
}

/**
  Content area
*/

h2 {
  font-size: $small-font-size;
}

article {
  p {
    font-size: $medium-font-size;
  }
}

.post {
  margin: $spacing-unit 0;

  ul {
    list-style-type: circle;

    li {
      font-size: $medium-font-size;
      margin-bottom: $spacing-unit / 2;
    }
  }
}

.now {
  padding: $spacing-unit 0;

  h2 {
    color: $grey-color;
  }

  p {
    font-size: $large-font-size;
  }
}

span.addition {
  background-color: #c8f3a5;
  border-radius: .25em;
  padding: 0 .25em;
}

span.deletion {
  background-color: #ffd9c9;
  border-radius: .25em;
  color: #a22d1d;
  padding: 0 .25em;
  text-decoration: line-through;
}

.then {
  background-color: $background-grey;
  padding: $spacing-unit 0;

  h2 {
    color: $grey-color;
  }

  p {
    font-size: $large-font-size;
  }

}

ul.old-bios {
  margin-left: 0;
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

ul.adjacent-posts {
  margin-top: $spacing-unit * 2;
  margin-left: 0;

  li {
    display: inline-block;
    list-style-type: none;

    &.prev {
      float: left;
    }

    &.next {
      float: right;
      text-align: right;
    }
  }
}

ul.pages {
  display: inline-block;
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-right: 1em;
  margin-bottom: 0;
  margin-left: 0;
  vertical-align: bottom;

  li {
    display: inline-block;
    margin-right: .5em;
    vertical-align: middle;
  }
}

ul.social-media-list {
  display: inline-block;
  vertical-align: middle;

  li {
    display: inline-block;
    margin-right: .5em;
    vertical-align: middle;
  }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
